@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
  }
}

@layer base {
  .kumbh {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}
